@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<head>
</head>
<body>
    <div class="d-flex align-items-center justify-content-center">
        <a asp-area="" asp-controller="Employee" asp-action="ViewEmployee">View Employee List</a>|
        <a asp-area="" asp-controller="Employee" asp-action="Create">Add New Employee</a>|
        <a asp-area="" asp-controller="Employee" asp-action="designation">Add New Designation</a>
    </div>

</body>
